:root {
  --branding-color: #6ed6d7;
  --secondary-color: #32414d;
}

body {
  background: #32414d;
  color: white;
}

.hero {
  background-image: url('/images/morainelake.jpg');
  background-size: cover;
  height: 600px;
  width: 100%;
  background-color: #cccc;
  box-sizing: border-box;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.photo-credit {
  position: absolute;
  right: 20px;
  top: 570px;
}

.photo-credit a {
  color: white;
}

footer {
  text-align: center;
}

.container {
  /* padding-left: 200px;
  padding-right: 200px; */
  text-align: center;
  margin: 20px auto;
}

.btn-branding {
  background: var(--branding-color);
  text-align: center;
  color: var(--secondary-color);
  font-weight: bold;
  opacity: 0.85;
  padding: 10px 20px;
  transition: all 0.3s ease-out;
}

.btn-branding:hover i {
  transform: translateX(0);
}

.btn-branding i {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
