.hero {
  background-image: url('/images/morainelake.jpg');
  background-size: cover;
  height: 600px;
  width: 100%;
  background-color: #cccc;
  box-sizing: border-box;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.photo-credit {
  position: absolute;
  right: 20px;
  top: 670px;
}

.photo-credit a {
  color: white;
}

footer {
  text-align: center;
}
